<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772748166970-rnl9cd6a6as03gnl229is2hd0aoq1g7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772748166970-rnl9cd6a6as03gnl229is2hd0aoq1g7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDCiMVRQC1YLfeb0SL1mJDBywD49xE4sDY</string>
	<key>GCM_SENDER_ID</key>
	<string>772748166970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clinical.tibei.clinic</string>
	<key>PROJECT_ID</key>
	<string>tabib-56f14</string>
	<key>STORAGE_BUCKET</key>
	<string>tabib-56f14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772748166970:ios:8639d940e985a5e634b203</string>
</dict>
</plist>